---
layout: index
title: namulcode-index
---

<h1>나물코드 (namulcode)</h1>

<!-- {% for item in site.static_files %}
    <div>{{ item.path }}</div>
{% endfor %} -->


<h2>글 목록</h2>
<nav class="nav-pagination">
    <div class="page-list">
        <ul>
            {% for post in paginator.posts %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        <p>
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">이전</a> 
            {% endif %} 
            <span class="number">{{ paginator.page }} / {{ paginator.total_pages }}</span> 
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">다음</a>
            {% endif %}
        </p>
    </div>
</nav>


<div class="div-footer">
    <p>HTML5 엔지니어 / <a href="mailto:namulcode@gmail.com">이메일</a></p>
</div>