---
layout: index
title: namulcode-index
---

<h1>namulcode-index</h1>
<p>Markup Designer</p>


<!-- {% for item in site.static_files %}
    <div>{{ item.path }}</div>
{% endfor %} -->

<nav class="nav-pagination">
    <p class="page-list">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% endif %}
        {% for post in paginator.posts %}
            <a href="{{ post.url }}">{{ post.title }}</a>
        {% endfor %}
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% endif %}

        <span class="number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    </p>
</nav>