@charset "utf-8"; 



h2 {
    margin-top: 2em;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1em;
}

.nav-pagination {}
.nav-pagination .number {
    display: block; 
    text-align: center;
}

.nav-pagination a {
    display: block;
    text-decoration: none;
}

.nav-pagination a:hover {
    background-color: #eee;
}


.div-footer {
    border: 1px solid #fff; 
    border-top-color: #eee;
    font-size: 14px;
}