@charset "utf-8"; 

.nav-pagination {
    border-top: 1px solid #eee; 
    border-bottom: 1px solid #eee; 
}

.nav-pagination .number {
    display: block; 
    text-align: right;
}

.nav-pagination a {
    display: block;
    text-decoration: none;
}

.nav-pagination a:hover {
    background-color: #eee;
}