@charset "utf-8"; 

.post-20180326-start {}

.post-20180326-start .span-label {}

.post-20180326-start img {
    width: 200px;
}

.post-20180326-start cite {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}